# build artifacts
/build
/deps/*/build
/deps/*/lib
/doc/compiled
/lib
/log
/include/KarazehConfig.h
/include/karazeh/librsync-config.h
/doc/api
/doc/compiled
/Karazeh.sdf
/Karazeh.sln
/Karazeh.suo
/Karazeh.vcxproj
/Karazeh.vcxproj.filters
/Karazeh.vcxproj.user
/karazeh.sublime-workspace

# manually excluded sources
exclude/

# test fixtures
dumps

# transients
.kzh
._*
*~
*.o
*.lo
.DS_Store
*.swp
/doc/diagrams/workspace
/node_modules