[auto]
bin/
log/
lib/
include/KarazehConfig.h
doc/api/

[manual]
exclude/

[fixtures]
dumps
test/fixture/archives/
test/fixture/tmp/
test/fixture/ktest/
*.tar*

[transients]
build/
tmp/
._*
*~
*.o
*.lo

[rubbish]
.DS_Store
*.swp